<div id="client" class="container">
    <h1><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ajouter un Client
      </button> </h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Raison Social</th>
            <th scope="col">Addresse</th>
            <th scope="col">Téléphone</th>
            <th scope="col">E-mail</th>
            <th scope="col">CIN Matricule Fiscale</th>
            <th scope="col">Actif</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <th scope="row">{{item.id}}</th>
            <td>{{item.raisonS}}</td>
            <td>{{item.adresse}}</td>
            <td>{{item.telephone}}</td>
            <td>{{item.email}}</td>
            <td>{{item.cinMF}}</td>
            <td>{{item.actif?'Oui':'Non'}}</td>
            
            <td><a (click)="deleteClient(item.id)"><fa-icon [icon]="faTrashAlt"></fa-icon></a>
              <a data-bs-toggle="modal" data-bs-target="#updateModal" (click)="loadClient(item)"><fa-icon [icon]="faEdit"></fa-icon></a></td>
          </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter un Client</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label><b>Raison Social</b></label>
                <input type="text" placeholder="Entrer le Raison Social client" name="raisonsocial" [(ngModel)]="raisonS" required><br>
                <label><b>Addresse</b></label>
                <input type="text" placeholder="Entrer l'Addresse" name="adresse" [(ngModel)]="adresse" required><br>
                <label><b>Téléphone</b></label>
                <input type="text" placeholder="Entrer le numero de Téléphone" name="tel" [(ngModel)]="tel" required><br>
                <label><b>E-mail</b></label>
                <input type="text" placeholder="Entrer l'addresse e-mail" name="email" [(ngModel)]="email" required><br>
                <label><b>Matricule Fiscale</b></label>
                <input type="text" placeholder="Entrer le Matricule Fiscale" name="cinMF" [(ngModel)]="cinMF" required><br>
                <label><b>Actif</b></label>
                <input type="checkbox" name="actif" [(ngModel)]="actif" required><br>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary"(click)="addClient()" data-bs-dismiss="modal">Ajouter</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel">Modifier un Client</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <label><b>Raison Social</b></label>
              <input type="text" placeholder="Entrer le Raison Social client" name="raisonsocial" [(ngModel)]="raisonSup" required><br>
              <label><b>Addresse</b></label>
              <input type="text" placeholder="Entrer l'Addresse" name="adresse" [(ngModel)]="adresseup" required><br>
              <label><b>Téléphone</b></label>
              <input type="text" placeholder="Entrer le numero de Téléphone" name="tel" [(ngModel)]="telup" required><br>
              <label><b>E-mail</b></label>
              <input type="text" placeholder="Entrer l'addresse e-mail" name="email" [(ngModel)]="emailup" required><br>
              <label><b>Matricule Fiscale</b></label>
              <input type="text" placeholder="Entrer le Matricule Fiscale" name="cinMF" [(ngModel)]="cinMFup" required><br>
              <label><b>Actif</b></label>
              <input type="checkbox" name="actif" [(ngModel)]="actifup" required><br>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" (click)="updateClient()" data-bs-dismiss="modal">Modifier</button>
          </div>
        </div>
      </div>
  </div>
</div>