<div id="article" class="container-fluid">

     <div class="mb-2 d-flex justify-content-between align-items-center">
      <div class="position-relative"> <span class="position-absolute search"><i class="fa fa-search"></i></span> <input class="form-control w-100" placeholder="Chercher"> </div>
      <div class="px-2">   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fa fa-tasks" aria-hidden="true"></i>
        Ajouter un Article</button></div>
  </div> 
<div class="table-responsive">
  <table class="table table-responsive table-borderless">
      <thead>
        <tr class="bg-light">
          <th scope="col">ID</th>
          <th scope="col">Nom</th>
          <th scope="col">Unité</th>
          <th scope="col">Quantité</th>
          <th scope="col">Famille</th>
          <th scope="col">Actif</th>
          <th scope="col">Prix d'achat</th>
          <th scope="col">Prix de vente</th>
          <th scope="col">Marge</th>
          <th scope="col">TVA</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <th scope="row">{{item._id}}</th>
          <td>{{item.nom}}</td>
          <td>{{item.unite}}</td>
          <td>{{item.quantite}}</td>
          <td>{{item.famille}}</td>
          <td>{{item.actif?'Oui':'Non'}}</td>
          <td>{{item.pa}}</td>
          <td>{{item.pv}}</td>
          <td>{{item.marge}}</td>
          <td>{{item.tva}} %</td>
          
          <td><a (click)="deleteArticle(item._id)" style="    margin-right: 11px;"><fa-icon [icon]="faTrashAlt" style="    color: red;
            "></fa-icon></a>
            <a data-bs-toggle="modal" data-bs-target="#updateModal" (click)="loadArticle(item)"><fa-icon [icon]="faEdit" style="    color: green;"></fa-icon></a></td>
        </tr>
      </tbody>
  </table>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter un Article</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label><b>Nom</b></label>
            <input type="text" placeholder="Entrer le nom d'article" name="nom" [(ngModel)]="nom" required><br>
            <label><b>Unité</b></label>
            <input type="text" placeholder="Entrer l'unité" name="unite" [(ngModel)]="unite" required><br>
            <label><b>Quantité</b></label>
            <input type="text" placeholder="Entrer la quantité" name="quantite" [(ngModel)]="quantite" required><br>
            <label><b>Famille</b></label>
            <input type="text" placeholder="Entrer la famille" name="famille" [(ngModel)]="famille" required><br>
            <label><b>Prix d'achat</b></label>
            <input type="text" placeholder="Entrer le prix d'achat" name="pa" [(ngModel)]="pa" required><br>
            <label><b>Prix de vente</b></label>
            <input type="text" placeholder="Entrer le prix de vente" name="pv" [(ngModel)]="pv" required><br>
            <label><b>Marge</b></label>
            <input type="text" placeholder="Entrer le marge" name="marge" [(ngModel)]="marge" required><br>
            <label><b>TVA</b></label>
            <input type="text" placeholder="Entrer le TVA" name="tva" [(ngModel)]="tva" required><br>
            <label><b>Actif</b></label>
            <input type="checkbox" [(ngModel)]="actif">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="addArticle()" data-bs-dismiss="modal">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Modifier un Article</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label><b>Nom</b></label>
            <input type="text" placeholder="Entrer le nom d'article" name="nom" [(ngModel)]="nomup" required><br>
            <label><b>Unité</b></label>
            <input type="text" placeholder="Entrer l'unité" name="unite" [(ngModel)]="uniteup" required><br>
            <label><b>Quantité</b></label>
            <input type="text" placeholder="Entrer la quantité" name="quantite" [(ngModel)]="quantiteup" required><br>
            <label><b>Famille</b></label>
            <input type="text" placeholder="Entrer la famille" name="famille" [(ngModel)]="familleup" required><br>
            <label><b>Prix d'achat</b></label>
            <input type="text" placeholder="Entrer le prix d'achat" name="pa" [(ngModel)]="paup" required><br>
            <label><b>Prix de vente</b></label>
            <input type="text" placeholder="Entrer le prix de vente" name="pv" [(ngModel)]="pvup" required><br>
            <label><b>Marge</b></label>
            <input type="text" placeholder="Entrer le marge" name="marge" [(ngModel)]="margeup" required><br>
            <label><b>TVA</b></label>
            <input type="text" placeholder="Entrer le TVA" name="tva" [(ngModel)]="tvaup" required><br>
            <label><b>Actif</b></label>
            <input type="checkbox" name="tva" [(ngModel)]="actifup" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="updateArticle()" data-bs-dismiss="modal">Modifier</button>
        </div>
      </div>
    </div>
  </div>
</div>