<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
                <div class="row">
                  <div class="col" >
                        <div class="d-flex justify-content-center" style="margin-top: 22px;">
                            <img src="assets/768px-Facebook_Messenger_logo_2020.svg.png" width="70" height="70">
                        </div>

                        <div class="d-flex justify-content-center">
                           <p>Helloo from logo </p>
                        </div>
                        <form>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle" aria-hidden="true" style="font-size: x-large;
                                    color: #385a64;"></i>

                                </span>
                                <input type="text" class="form-control" placeholder="Identifiant " aria-label="Username" aria-describedby="basic-addon1" >
                              </div>
                              <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true" style="font-size: x-large;
                                    color: #385a64;"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Mots de passe " aria-label="Username" aria-describedby="basic-addon1">
                              </div>
                                                            
                  
                            <button type="submit" class="btn btn-primary btn-round">Submit</button>
                          </form>
                   
                  </div>
                  <div class="col" >
                    <img src="assets/Wavy_Tech-28_Single-10.jpg" width="100%">
                  </div>
                </div>
        </div>
    </div>
</div>