<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
                <div class="row">
                  <div class="col" >
                        <div class="d-flex justify-content-center" >
                            <img src="assets/768px-Facebook_Messenger_logo_2020.svg.png" width="70" height="70">
                        </div>

                        <div class="d-flex justify-content-center">
                           <p>Helloo from logo </p>
                        </div>
                        <form [formGroup]="loginform"  (ngSubmit)="onSubmit()">
                          <H4><Strong>Login</Strong></H4>
                          <p style="margin-bottom: 35px;">Bienvenu,veuillez vous authentifier </p>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle" aria-hidden="true" style="font-size: x-large;
                                    color: #385a64;"></i>

                                </span>
                                <input type="email" class="form-control" placeholder="Email " aria-label="Username" aria-describedby="basic-addon1"  formControlName="email" required>
                              </div>
                              <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true" style="font-size: x-large;
                                    color: #385a64;"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Mots de passe " aria-label="Username" aria-describedby="basic-addon1" formControlName="password" required #password>
                                <div class="input-group-append">
                                  <span class="input-group-text" (click)="show()"  style=" height: 44px ;">
                                    <i class="fa fa-eye" *ngIf="a" style="font-size: x-large; color: #385a64;"></i>
                                    <i class="fa fa-eye-slash" *ngIf="b" style="font-size: x-large; color: #385a64;"></i>
                                  </span>
                                </div>
                              </div>
                                                            
                           
                            <button type="submit" class="btn btn-primary btn-round">Se connecter</button>
                          </form>
                   
                  </div>
                  <div class="col-sm " >
                    <img src="assets/Wavy_Gen-01_Single-07.png"  class="img-fluid" width="100%">
                  </div>
            
                </div>
        </div>
    </div>
</div>
<ngx-spinner type = "ball-zig-zag"> <p style="color: white" > connexion... </p></ngx-spinner>
