<div id="bcommande" class="container">
  <h1><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
      (click)="getClient()">Ajouter BC</button> </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">N°BC</th>
        <th scope="col">Date</th>
        <th scope="col">Client</th>
        <th scope="col">Statut</th>
        <th scope="col">Article</th>
        <th scope="col">Prix TTC</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bcdata">
        <th scope="row">{{item.nbc}}</th>
        <td>{{item.createdAt | date}}</td>
        <td>{{item.client.cinMF}}</td>
        <td>{{item.statut}}</td>
        <td><span *ngFor="let i of item.article">
          {{i.nom}},
        </span></td>

        <td>{{item.prixTtc}}</td>

        <td>
          <button  color="warn" style="color: #ff0404;
          border: 0px;
          background-color: white;" mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
        placement="left"
        [confirmText]="confirmText"
        [cancelText]="cancelText"
          (confirm)="delete(item.id)"
          (cancel)="cancelClicked = true" ><fa-icon [icon]="faTrashAlt" style="    color: red;
          "></fa-icon></button>

 <button style="background-color: white; border: 0px;" data-bs-toggle="modal" data-bs-target="#exampleModal2"  ><fa-icon [icon]="faEdit" style="    color: green;"></fa-icon></button>

        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl" >
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter une Bon de Commande</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label><b>Client</b></label>
          <ng-select [(ngModel)]="client" [items]="clients" bindLabel="cinMF" bindValue="id"></ng-select>
          <div *ngIf="client">
            <h1><button type="button" class="btn btn-primary" (click)="addLine()">Ajouter Article</button>
            </h1>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Article</th>
                  <th scope="col">Quantité</th>
                  <th scope="col">Prix</th>
                  <th scope="col">TVA</th>
                  <th scope="col">Remise</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of articles">
                  <th scope="row"><ng-select [(ngModel)]="item.article" [items]="art" bindLabel="nom" bindValue="id"  (change)="loadArticle(item)"></ng-select></th>
                  <td><input type="text" name="quantite" [(ngModel)]="item.quantite" (change)="sumprix()" required></td>
                  <td><input type="text" name="prix" [(ngModel)]="item.prix" (change)="sumprix()" required ></td>
                  <td><input type="text" name="tva" [(ngModel)]="item.tva" (change)="sumprix()" required></td>
                  <td><input type="text" name="remise" [(ngModel)]="item.remise" (change)="sumprix()" required></td>

                  <td>
                    <a><fa-icon [icon]="faTrashAlt" (click)="deleteLine(item)"></fa-icon></a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div *ngIf="articles.length&&client">
            <div class="table-responsive">
              <table class="table table-responsive table-borderless" >
                <thead>
                  <tr>
                    <th> Base HT </th>
                    <th> TVA </th>
                    <th> Montant TTC </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="tva_0">
                    <td>{{tva_0}} DT</td>
                    <td>0%</td>
                    <td>{{tva_0}}</td>
                  </tr>
                  <tr *ngIf="tva_7">
                    <td>{{tva_7}} DT</td>
                    <td>7%</td>
                    <td>{{tva_7*1.07}}</td>
                  </tr>
                  <tr *ngIf="tva_10">
                    <td>{{tva_10}} DT</td>
                    <td>10%</td>
                    <td>{{tva_10*1.1}}</td>
                  </tr>
                  <tr *ngIf="tva_13">
                    <td>{{tva_13}} DT</td>
                    <td>13%</td>
                    <td>{{tva_13*1.13}}</td>
                  </tr>
                  <tr *ngIf="tva_19">
                    <td>{{tva_19}} DT</td>
                    <td>19%</td>
                    <td>{{tva_19*1.19}}</td>
                  </tr>
                  <tr *ngIf="tva_29">
                    <td>{{tva_29}} DT</td>
                    <td>29%</td>
                    <td>{{tva_29*1.29}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <label>Prix HT: {{prixHT||0}} DT </label><br>
              <label>TVA : {{sumtva||0}} DT </label><br>
              <label>Remise : {{remiseTotal||0}} DT</label><br>
              <label>Prix TTC: {{prixTTC||0}} DT </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="addbc()" data-bs-dismiss="modal">Ajouter</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl" >
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter une Bon de Commande</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div><p style="padding: 9px;
                    background-color: #6c757d;
                    color: white;">Entête bon de commande</p></div>
            
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>Numero bon commande : </td>
                  <td>Date : </td>
                </tr>
                <tr>
                  <td>Client : </td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
              </tbody>
            </table>

          <div class="row">
            <div class="col-8">
              <p style="padding: 9px;
              background-color: #6c757d;
              color: white;">Detailes articles</p>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Unité</th>
                    <th scope="col">Famille</th>
                    <th scope="col">Prix d'achat</th>
                    <th scope="col">Prix de vente</th>
                    <th scope="col">Marge</th>
                    <th scope="col">tva</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>

                  </tr>
                 
                
                </tbody>
              </table>
            </div>
            <div class="col-4">
              <p style="padding: 9px;
              background-color: #6c757d;
              color: white;">Information prix</p>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Prix Hors taxe </th>
                    <th scope="col">Prix totale </th>
                    <th scope="col">Tva Total </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="addbc()" data-bs-dismiss="modal">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</div>

