span{
    width: 151
    px
    ;
    
}

#btnp
{
    border-radius: 22.5px;
    background-color: #43b9a9;
    border-color: #43b9a9;
    width: 48%;
    margin-left: 15px;
}
#btnf
{
    border-radius: 22.5px;
    width: 48%;
}


button{
    margin-bottom: 15px;
    margin-top: 22px;
    border-radius: 22.5px;
    float: right;
    font-size: smaller;
    background-color: #0276f8;
        border-color: #0270ec;
    }
    
    
    
    
    .search {
        top: 6px;
        left: 10px
    }